<header id="masthead" class="site-header wrapper">
  <div class="page-header stack">
    {% set pagetitle = title or renderData.title %}
    <h1 class="title p-name">{{ pagetitle }}</h1>
  </div>
</header>
