<!-- Fonts -->
<link rel="preload" href="{{ '/assets/fonts/cooper-hewitt/CooperHewitt-Bold.woff2' | url }}" as="font" type="font/woff2" crossorigin>
<!-- Feed -->
<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicons/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicons/favicon-16x16.png' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
