<!doctype html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <a class="skip-link sr-only focusable" href="#content">Skip to content</a>
    <header id="masthead" class="site-header wrapper">
      {% block header %}
        {% include "partials/header.njk" %}
      {% endblock header %}
    </header>

    <main id="content" class="site-content wrapper" tabindex="-1">
      {% block content %}
        <div class="page">
          <div class="page-content stack">
            <span class="date"> Last updated on <time class="dt-published" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></span>
            {{ content | safe }}
          </div>
        </div>
      {% endblock content %}
    </main>

    <footer id="colophon" class="site-footer wrapper">
      {% block footer %}
        {% include "partials/footer.njk" %}
      {% endblock footer %}
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
