/* CSS Reset 
 * Inspired by: https://piccalil.li/blog/a-modern-css-reset
*/
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */
:root {
  /* Colors */
  --background: #f1e9da;
  --primary: #541388;
  --secondary: #d90368;
  --teriery: #ffd400;
  --text: #2e294e;
  background-color: #f1e9da;
  background-color: var(--background);
  color: #2e294e;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-size: calc(0.65vw + 1em);
  font-weight: 400;
  line-height: 1.5;
}

/* Global */
/* Utilities */
/* Accessibility utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Clear floats */
.clear:before,
.clear:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after {
  clear: both;
}

/* Make something stand out */
.callout {
  border: 2px solid var(--lighttext);
  border-radius: var(--border-thick);
  padding: var(--s-1);
}

/* Big 'ol text */
.intro {
  font-size: var(--s2);
}

/* Stack utility
 every-layout.dev */
.stack > * + *,
.stack + .stack,
.stack > .stack {
  margin-top: 1em;
  margin-top: var(--stack-space, 1em);
}

.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1em;
}

/* Elements */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  clear: both;
  color: #2e294e;
  color: var(--text);
  font-weight: 700;
  hyphens: auto;
  line-height: 1.2;
  word-wrap: break-word;
}

h1,
.h1 {
  font-size: 423.6%;
}

h2,
.h2 {
  font-size: 261.8%;
}

h3,
.h3 {
  font-size: 161.8%;
}

h4,
.h4 {
  font-size: 100%;
}

dfn,
em,
i,
.date {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

abbr {
  border-bottom: 1px dotted var(--secondary);
  cursor: help;
}

mark {
  background-color: #541388;
  background-color: var(--primary);
  color: #f1e9da;
  color: var(--background);
  text-decoration: none;
}

small {
  font-size: 85%;
}

hr {
  background-image: repeating-linear-gradient(
    45deg,
    currentColor 0,
    currentColor 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
  border: 0;
  height: 15px;
  margin-top: 0;
}

ul,
ol {
  margin-left: 1.5em;
  margin-top: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 2em;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 1.5em;
  margin-top: 0;
}

/* Links */
a {
  color: #541388;
  color: var(--primary);
  position: relative;
  text-decoration: underline;
  text-decoration-color: #d90368;
  text-decoration-color: var(--secondary);
  text-decoration-skip-ink: auto;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:focus {
  background-color: #541388;
  background-color: var(--primary);
  color: #f1e9da;
  color: var(--background);
  outline: 2px dashed var(--text);
  outline-offset: 2px;
  text-decoration: none;
}

a:active,
a:active::after {
  outline: 0;
  top: 2px;
}

a[href^="#"]:not(.skip-link):hover::after,
a[href^="#"]:not(.skip-link):focus::after {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 0.5em;
  margin-left: 0.125em;
  vertical-align: middle;
  width: 0.5em;
}

a[href^="#"]:not(.skip-link):hover::after {
  background-image: url(/assets/img/hash-p.svg);
}

a[href^="#"]:not(.skip-link):focus::after {
  background-image: url(/assets/img/hash-b.svg);
}

.skip-link {
  left: 0.5em;
  padding: 1em;
  top: 0.5em;
}

.skip-link.focusable:focus {
  position: absolute;
}

/* Widths */

.page-header h1 {
  max-width: 15ch;
}

.page-content p,
.page-content li,
.page-content dt,
.page-content dd {
  max-width: 60ch;
}

.page-content h2,
.page-content h3,
.page-content h4 {
  max-width: 24ch;
}

.page-content > h2 + *,
.page-content > h3 + *,
.page-content > h4 + *,
.page-content > dt + * {
  margin-top: 0.5em;
  --stack-space: 0.5em;
}

/* Containers */
.site-header {
  padding-top: 3em;
}

.site-content[tabindex="-1"]:focus {
  outline: 0;
}

.site-footer {
  padding-bottom: 3em;
  padding-top: 1em;
  text-align: center;
}

/* Print */
@media print {
  @page {
    margin: 0.5in;
  }

  .site-footer {
    display: none;
  }

  * {
    background: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    font-size: 14pt !important;
    text-shadow: none !important;
  }

  h1 {
    font-size: 28pt !important;
  }

  h2 {
    font-size: 24pt !important;
  }

  h3 {
    font-size: 22pt !important;
  }

  h4 {
    font-size: 20pt !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  ul,
  ol {
    page-break-inside: avoid;
  }
}
